.activeTask {
    cursor: pointer;
    display: flex;
    align-items: baseline;
}

.completedTask {
    cursor: not-allowed;
    margin: 0;
    display: flex;
    align-items: baseline;
    color: dimgray;
    text-decoration: line-through;
}

.activeTask > input,
.completedTask > svg {
    flex-shrink: 0;
    width: 18px;
    height: 18px;
    margin: 0 8px 0 0;
}
