.user {
    width: 100%;
    cursor: pointer;
    display: grid;
    font-size: 20px;
    line-height: 24px;
    padding: 8px 12px;
    background-color: white;
    border: 1px solid black;
    border-radius: 6px;
    grid-template-columns: 1fr 24px;
    grid-column-gap: 12px;
    transition: background-color ease 300ms;
}

.user:hover {
    background-color: lightblue;
}

.user:active {
    background-color: cornflowerblue;
}