.content {
    padding: 0 20px;
    height: 100%;
    display: grid;
    grid-template-columns: minmax(min-content, 300px) minmax(300px, 1fr);
    grid-column-gap: 24px;
    overflow-y: hidden;
}

.content > aside,
.content > main {
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}

