@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');


html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: 'Balsamiq Sans', cursive;
}

#root {
  height: 100%;
}

